@model Category
@{
    ViewBag.Title = "Xóa loại hàng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryId" method="post">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <p class="form-control-static">@Model.CategoryName</p>
            </div>
            <div class="form-group">
                <label>Mô tả:</label>
                <p class="form-control-static">@Model.Description</p>
            </div>

            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xóa dữ liệu
                    </button>
                }
                else
                {
                    <span style="color:#f00">Không được xóa khách hàng</span>
                }
                <a href="~/Category" class="btn btn-primary">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>