@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với Shop của tôi</h1>
    @{
        var userData = User.GetUserData();
        if (userData == null)
        {
            <h4>Hãy đăng nhập để có trải nghiệm tốt nhất. <a href="~/Account/Login">Đăng nhập</a></h4>
        }
        else
        {
            <h4>Chúc bạn có một trải nghiệm vui vẻ khi đến với trang Web của tôi</h4>
        }
    }
</div>
